
/* TOP */
.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: auto;
  width: 90%;
}
.logo{
  display: flex;
  height: 56px;
  margin-bottom: 20px;
}
.logo>img{
  margin-top: 20px;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 120px;
}
.link a{
  font-size: 17px;
  display: flex;
  justify-content: space-between;;
}
.content p {
  font-size: 15px;
  font-weight: 600;
}
.login{
  border: 1px solid #9ca3af;
  border-radius: 30px 30px 30px;
  padding: 8px;
}
.world{
  width: 20px;
  height: 20px;
  margin: 0 20px;
}
.user{
  width: 27px;
  height: 27px;
  margin-left: 10px;
}
.menu{
  width: 20px;
  height: 20px;
}


/* BOTTOM */

.bottom{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  height: 60px;
  box-shadow: 0px 0px 8px #9ca3af;
  border-radius: 30px 30px;
  height: 60px;
  width: 700px;
  margin-left: 420px;
  
}
.bottom button{
  height: 30px;
  margin-top: 15px;
}
.diadiem{
  border-right: #ECECEC solid 1px;
  padding: 0 100px 0 20px;
}
.nhanphong{
  border-right: #ECECEC solid 1px;
  padding: 0 50px 0 20px;
}
.traphong{
  border-right: #ECECEC solid 1px;
  padding: 0 50px 0 20px;
}
.themkhach{
  padding: 0 80px 0 20px;
}
.iconsearch{
  background-color: #FF385C;
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 12px;
  margin-left: 20px;
  border-radius: 40px ;
}
.icon{
  width: 22px;
  height: 22px;
  text-align: center;
  margin: auto;
}

  